certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Cython==0.29.21
docopt==0.6.2
faiss-gpu==1.6.5
fastBPE==0.1.1
filelock==3.0.12
idna==2.10
jieba==0.39
joblib==1.0.0
numpy==1.19.4
openfile==0.0.7
packaging==20.8
pyemd==0.5.1
pyparsing==2.4.7
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tokenizers==0.9.4
toolwrapper==2.1.0
torch==1.7.1
tqdm==4.55.0
transformers==4.1.1
transliterate==1.10.2
typing-extensions==3.7.4.3
uctools==1.3.0
urllib3==1.26.2
